SleepingBarber.Demo.Console/obj/*
SleepingBarber.Tests/bin/*
*.cache
SleepingBarber.Tests/obj/*
SleepingBarber/obj/*
SleepingBarber/bin/*
SleepingBarber/packages/*
SleepingBarber/.vs/*
SleepingBarber.Demo.Console/bin/*
SleepingBarber.Demo.Web/bin/*
SleepingBarber.Demo.Web/obj/*
SleepingBarber.Persistance.RavenDB/bin/*
SleepingBarber.Persistance.RavenDB/obj/*
SleepingBarber/SleepingBarber.Demo.PersistanceConsole/obj/*
SleepingBarber/SleepingBarber.Demo.PersistanceConsole/bin/*
SleepingBarber/SleepingBarber.Logging.RavenDB/obj/*
SleepingBarber/SleepingBarber.Logging.RavenDB/bin/*
SleepingBarber/SleepingBarber.Logging/bin/*
SleepingBarber/SleepingBarber.Logging/obj/*
*.nupkg
packages/*
*.dll
*.pdb
*/bin/*
*/obj/*
.vs/*
.vs/*
